body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    height: 80px;
    margin-right: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.welcome {
    text-align: center;
    padding: 40px 20px;
}

.games-list {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

/* Estilos para los botones de login, logout y register*/
.btn-login, .btn-register, .btn-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-login:hover, .btn-register:hover, .btn-logout:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    gap: 10px; /* Espacio horizontal entre los botones */
}

nav {
    float: right;
    margin-top: 10px;
}

/* Estilos para el botón desplegable */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111010;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
}

.dropdown-content form {
    display: flex;
    flex-direction: column;
}

.dropdown-content form label,
.dropdown-content form input,
.dropdown-content form button {
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}