{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlayTest{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <a href="{% url 'home' %}" class="logo-link">
                <img src="{% static 'images/logoPlayTest.webp' %}" alt="Logo PlayTest" class="logo">
                <h1>PlayTest</h1>
            </a>
        </div>
    
        <nav class="user-nav">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn-login">Iniciar Sesión</a>
                <a href="{% url 'register' %}" class="btn-register">Regístrate</a>
            {% else %}
                <a href="{% url 'user_profile' %}" class="btn-profile">Mi Perfil</a>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Cerrar Sesión</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <!-- Mostrar mensajes -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS (Opcional si usas funcionalidades JS de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- JS personalizado -->
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <footer>
        &copy; 2024 PlayTest. Todos los derechos reservados.
    </footer>
</body>
</html>
