{% extends "base.html" %}
{% load custom_tags %}


{% block title %}PlayTest - Juegos Disponibles{% endblock %}

{% block content %}
    <!-- Sección de bienvenida -->
    <section class="welcome">
        <h2>Bienvenido a PlayTest</h2>
        <p>Explora los juegos en versión beta y acceso anticipado, deja tus comentarios y ayuda a los desarrolladores a mejorar sus proyectos.</p>
    </section>

    <!-- Botón para subir juegos (solo visible para desarrolladores) -->
    {% if user.is_authenticated and user|has_group:"Developers" %}
        <a href="{% url 'upload_game' %}" class="btn-upload-game">Subir Juego</a>
    {% endif %}

    <!-- Lista de juegos disponibles -->
    <div class="games-list">
        <h1>Juegos Disponibles</h1>
        <ul>
            {% for game in games %}
                <li>
                    <span>{{ game.title }}</span>
                    {% if user.is_authenticated and user|has_group:"Testers" %}
                        <a href="{% url 'download_game' game.id %}">Descargar</a>
                    {% else %}
                        <span>Inicia sesión para descargar</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}