{% extends "base.html" %}
{% load custom_tags %}


{% block title %}PlayTest - Juegos Disponibles{% endblock %}

{% block content %}
    <!-- Sección de bienvenida -->
    <section class="welcome">
        <h2>Bienvenido a PlayTest</h2>
        <p>Explora los juegos en versión beta y acceso anticipado, deja tus comentarios y ayuda a los desarrolladores a mejorar sus proyectos.</p>
    </section>

    <!-- Botón para subir juegos (solo visible para desarrolladores) -->
    {% if user.is_authenticated and user|has_group:"Developers" %}
        <a href="{% url 'upload_game' %}" class="btn-upload-game">Subir Juego</a>
    {% endif %}

    <!-- Lista de juegos disponibles -->
    <div class="games-list">
        <h1>Juegos Disponibles</h1>
        <ul>
            {% for game in games %}
                <li>
                    <a href="{% url 'game_profile' game.id %}">
                        {% if game.image %}
                            <img src="{{ game.image.url }}" alt="{{ game.title }}" class="game-thumbnail">
                        {% endif %}
                        <div class="game-info">
                            <h3>{{ game.title }}</h3>
                            <p>{{ game.description }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}